<div id="books-page">
  <div class="container">
    <h2>Books</h2>

    <LinkTo @route="authors">View all authors </LinkTo>

    {{#if this.isFiltering}}
    <button onclick={{ action "removeQuery"}} class="btn btn-primary"> All books </button>
    {{/if}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Published date</th>
          <th scope="col">Author</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each @model as |book|}}
        <tr>
          <th scope="row">{{book.id}}</th>
          <td>{{book.name}}</td>
          <td>
            {{moment-format book.publishedDate "MM/DD/YYYY" }}
          </td>
          <td>
            {{book.author.name}}
            {{#unless this.isFiltering}}
            <LinkTo @route="books" @query={{hash authorId=book.author.id}}> Books </LinkTo>
            {{/unless}}
          </td>
          <td><a onclick={{ action "toggleDeleteModal" book}}><svg width="1em" height="1em" viewBox="0 0 16 16"
                class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg></a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<BsModal @open={{openModal}} @onHide={{action "toggleDeleteModal"}} @onSubmit={{action "deleteConfirm"}} as |Modal|>
  <Modal.header>
    <h4 class="modal-title"><i class="glyphicon glyphicon-alert"></i> Warning</h4>
  </Modal.header>
  <Modal.body>
    Are you sure you want to delete this Author?
  </Modal.body>
  <Modal.footer as |footer|>
    <BsButton @onClick={{action Modal.close}} @type="danger">Cancel</BsButton>
    <BsButton @onClick={{action Modal.submit}} @type="success">Yes</BsButton>
  </Modal.footer>
</BsModal>
{{outlet}}